<form method="post" action="/sessions">
   <h1>Log In Below:</h1>
   <div>
        <label for="Email">Email:</label>
        <input id="Email" type="text" name="email" />
    </div>
    <div>
        <label for="Password">Password:</label>
        <input id="Password" type="text" name="password" />
    </div>
    <div>
        <input id="submit" type="submit" value="Log In"/>
    </div>
</form>


