<h1>Sign Up Below:</h1>

<form method="POST" action="/registrations">
    User Name: <input type="text" name="user[name]" id="name"><br />
    Email: <input type="text" name="user[email]" id="email"><br />
    Password: <input type="text" name="user[password]" id="password"><br />
    <input type="submit" value="Sign Up">
</form>